.offer-buttons button {
  transition: all 0.2s ease-in-out;
}

.offer-buttons button:hover {
  background-color: #f0f0f0;
}

.banner-slide {
  background-color: #eee;
  border-radius: 10px;
}
.carousel-img {
  height: 420px;     
  object-fit: cover; 
  object-position: center;
}

@media (max-width: 768px) {
  .carousel-img {
    height: 250px;   
  }
}
.explore-box {
  width: 160px;
}

.explore-img {
  width: 160px;
  height: 180px;
  object-fit: cover;
}

.explore-text {
  font-size: 15px;
  font-weight: 600;
}

