.footer-section {
    background-color: rgb(246, 244, 241);
    padding: 30px 0px;
    margin-top: 50px;
}


.footer-list ul li {
    list-style: none;
    padding: 10px 0px;
}
.footer-list ul li a{
    text-decoration: none;
    color: grey;
}